section.video-section {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 20px 20px 20px 20px;

    & section.video-player {
        display: flex;
        width: 100%;
        justify-content: center;
        position: relative;

        & .helper {
            position:absolute;
            top:0;
            left:50%;
            width:50px;
            height:40px;
            background-color: red;
        }

        & .flex-column{
            display: flex;
            flex-direction: column;
        }
        & iframe {
            width: 100%;
            max-width: 900px;
            max-height: 508px;
        }
    }
}