@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

$tablet: 380px;
$desktop: 800px;
$widescreen: 1200px;

// Set your brand colors
$purple: rgb(119, 77, 138);
$pink: #FA7C91;
$brown: #757763;
$green: #2af598;
$blue: #08aeea;
$yellow: #f3ff57;
$beige-light: #D0D1CD;
$beige-lighter: rgb(243, 243, 243);

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $blue;
$link: $green;

// Update some of Bulma's component variables
// $body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Imports for Buefy
@import './../../node_modules/buefy/src/scss/buefy-build.scss'; 


// Modules
@import 'modules/video.scss';

// global classes 
.clickable {
    cursor: pointer;
}

.grow { 
    transition: all .18s ease-in-out; 
}

.grow:hover { 
    transform: scale(1.05);
    border: 2px solid $primary;
    border-radius: 5px;
}

.gradient-primary{
    $gradient-top-left: $blue;
    $gradient-bottom-right: $yellow;
    background-image: linear-gradient(141deg, $gradient-top-left 0%, $green 50%, $gradient-bottom-right 100%)
}

.little-header{
    padding: 1rem 1rem !important;
}

.slide-leave-active,
.slide-enter-active {
  transition: 1s;
}
.slide-enter {
  transform: translate(100%, 0%);
}
.slide-leave-to {
  transform: translate(-100%, 0%);
}